{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock %}


{% block content %}
    <div class="container-flex">
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {% include "nav.html" %}
                    </div>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="solid-border">
                            {% for message in messages %}
                                <div class="flasher">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}

                    {% block form %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
